.parentLayer {
  padding: 0rem 10%;
  background-color: rgb(230, 230, 230);
  z-index: 999;
  height: 100vh;
  /* background-color: transparent; */
  border-radius: 1rem;
}
.firstLayer,
.thirdLayer {
  display: flex;
  justify-content: space-between;
}
.secondLayer {
  text-align: center;

  height: 22rem;
  position: relative;
}

.secondLayer > :nth-child(1) {
  height: 15vh;
  width: 40%;
  background-color: rgba(11, 123, 235, 0.25);
  margin: auto;
  border: 0.1rem solid rgba(255, 255, 255, 0.3);
  border-radius: 0.2rem;
  position: absolute;
  top: 0%;
  left: 35%;
}
.secondLayer > :nth-child(2) {
  position: absolute;
  left: 30%;
  top: 3%;
  z-index: -998;
}

.secondLayer > :nth-child(2) img {
  height: 35rem;
}
.firstLayer > :nth-child(1),
.firstLayer > :nth-child(2),
.thirdLayer > :nth-child(1),
.thirdLayer > :nth-child(2) {
  width: 35%;
  height: 22vh;
  text-align: center;
  border-radius: 1rem;
}

.firstLayer p,
.thirdLayer p {
  margin-top: 3rem;
  font-size: 1.7rem;
  font-family: "Inter";
  font-weight: 700;
  letter-spacing: -0.1rem;
}
.thirdLayer p,
.thirdLayer p {
  margin-top: 0rem;
}
.firstLayer button,
.thirdLayer button {
  margin-top: 0.5rem;
  font-size: 1rem;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  border-bottom: 0.1rem solid rgb(75, 75, 75);
  padding: 0.5rem 1rem;
  background: none;
  cursor: pointer;
}

.firstLayer button:active,
.thirdLayer button:active {
  border-bottom: 0.11rem solid rgb(23, 23, 23);
  transition: 0.1s ease;
  color: black;
  box-shadow: rgba(33, 35, 38, 0.1) 0px 12px 12px -12px;
}
.firstLayer button,
.thirdLayer button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}
