* {
  box-sizing: border-box;
}
.parentCard {
  border: 0.1rem solid var(--border-light);
  height: 52vh;
  width: 100%;
  max-width: 18rem;

  border-radius: 0.5rem;
  box-shadow:
    rgba(17, 17, 26, 0.05) 0px 4px 16px,
    rgba(17, 17, 26, 0.05) 0px 8px 32px;
}
.innerGrid {
  display: grid;
  padding: 0.5rem 0.5rem;
  grid-template-rows: 65% 20% 15%;
  grid-template-columns: 100%;
  width: inherit;
}
.innerGrid > :nth-child(1) {
  border: 0.1rem solid var(--border-light);
  width: inherit;
  border-radius: 0.5rem;
}
.innerGrid > :nth-child(2) {
  text-align: center;
}
.innerGrid > :nth-child(2) h2 {
  font-size: 1rem;
  margin-top: 0.5rem;
}
.innerGrid > :nth-child(2) p {
  font-size: 0.8rem;
  margin-top: 0.3rem;
  margin: 0.3rem 0.4rem 0rem 0.4rem;
}
.buttonBox {
  border-top: 0.1rem solid var(--border-light);
}

.cardButton {
  letter-spacing: -0.1rem !important;
  font-size: 1rem !important;
  color: black !important;
  height: 80% !important;
  width: 100% !important;
  border-radius: 0.5rem !important;
  margin: auto !important;
  text-transform: uppercase !important;
  font-weight: 500 !important;
  font-family: "Inter", sans-serif !important;
}

.imageContainer img {
  height: 100%;
  width: 100%;
  max-height: 100%;
  max-width: 100%;
  border-radius: 0.5rem;
}
