.parentDialogBox {
  border-radius: 2rem !important ;
}
.modalBg {
  backdrop-filter: blur(5px) !important;
}

.headingText {
  font-family: "Inter", "sans-serif";
  font-weight: 700;
  font-size: 1.3rem;
  display: block;
  text-align: center;
}
.headingParentBox {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text-subtitle);
}
.subHeadingText {
  display: block;
  font-family: "Inter", "sans-serif";
  font-weight: 400;
  font-size: 1rem;
  background-color: rgb(244, 244, 244);
  padding: 0.5rem;
  border: 0.1rem solid rgb(190, 190, 190);
  border-radius: 0.5rem;
}
.headIcon {
  color: var(--text-subtitle);
  transform: scale(1.1);
}
.cardParagraph {
  border: 0.1rem solid rgb(211 211 211);
  padding: 1rem;
  border-radius: 0.5rem;
  font-family: "Inter", sans-serif !important;
  text-align: center;
}
.closeBtn {
  font-family: "Inter", sans-serif !important;
  font-size: 0.8rem !important;
  font-weight: 700 !important;
  padding: 0.4rem 1.5rem !important;
  border-radius: 2rem !important;
  border: 0.11rem solid rgb(240, 52, 52) !important;
  color: rgb(240, 52, 52) !important;
}
.cardActionSection {
  display: flex !important;
  justify-content: center !important;
}
