.parentDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 5rem;
  border-right: 0.1rem solid rgba(176, 138, 90, 0.35);
  margin-left: 1rem;
}
.parentDiv > :nth-child(1) {
  font-family: "Montserrat", sans-serif;
  color: var(--text-disabled);
  font-size: 1.5rem;
}
.parentDiv > :nth-child(2) {
  color: var(--text-disabled);
  font-size: 0.8rem;
}
