.expDividerText {
  display: flex;
}
.leftGrid {
  width: 100%;
  padding-top: 5rem;
  /* padding-left: 5rem; */
  text-align: center;
  align-items: center;
  justify-content: center;
  position: relative;
}

.leftGrid > :nth-child(1) {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 0.8rem;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  color: var(--text-subtitle);
}
.txt_highlighter {
  background: rgba(11, 123, 235, 0.25);
  padding: 0.4rem 0.4rem;
}

.leftGrid hr {
  background: rgba(176, 138, 90, 0.65);
  border: none;
  outline: none;
  height: 0.15rem;
  width: 25%;
  margin-top: 1rem;
}
.leftGrid > :nth-child(3) {
  font-family: "Italiana", serif;
  font-size: 1rem;
  color: var(--accent-dark);
  width: 50%;
  margin: auto;
  margin-top: 1rem;
}
.leftGrid > :nth-child(3) img {
  height: 30rem;
}
.leftGrid > :nth-child(4) button {
  background-color: rgb(7, 7, 7);
  font-family: "Inter";
  color: var(--button-text);
  padding: 0.6rem 2rem;
  border-radius: 2rem;
  text-transform: capitalize;
  transition: 0.1s ease-in-out;
  font-size: 0.9rem;
  border: 0.1rem solid var(--text-subtitle);
  cursor: pointer;
}
.leftGrid > :nth-child(4) {
  width: 19%;
  margin: auto;
  margin-top: 2rem;
}

.btn_ball {
  cursor: pointer;
  height: 0.3rem;
  width: 0.3rem;
  margin: auto;
  margin-top: 0.5rem;
  border-radius: 1rem;
  background-color: transparent;
  transition: 0.2s ease;
}
.leftGrid > :nth-child(4) button:active ~ .btn_ball {
  background-color: rgb(8, 8, 8);
  box-shadow: rgb(255, 0, 0) 20px 50px 35px;
}
