.parentBar {
  margin: 1rem 0 0 0;
  background: transparent;
  color: var(--button-text);
  text-transform: capitalize;
  position: relative;
}

.childBar {
  margin: auto;
  display: flex;
  font-weight: 300;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 3rem;
  font-size: 1.1rem;
  font-family: "Lexend Deca", serif;
  border: 0.1rem solid rgba(251, 251, 251, 0.55);
  padding: 0.75rem 2.75rem 0.15rem 2.75rem;
  border-radius: 1rem;
  background: transparent;
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px); /* For Safari support */
  width: 15rem;
  height: 80vh;
  text-transform: capitalize;
  z-index: 1;
}
.navBG_img {
  position: absolute;
  z-index: -9999;
  left: -10%;
  top: -75%;
  transform: translate(-50% -50%);
  /* letter-spacing: 1rem; */
  font-family: "Inter", "serif";
}

.navBG_img {
  transform: scale(0.44);
}

.navItemChild_cover {
  padding: 0.6rem 1.5rem;
  border-radius: 1.2rem;
  background-color: transparent;
  transition: 0.2s ease-in-out;
  cursor: pointer;
  border: 0.1rem solid transparent;
}
.btn_ball {
  cursor: pointer;
  height: 0.3rem;
  width: 0.3rem;
  margin: auto;
  margin-top: 0.2rem;
  border-radius: 1rem;
  background-color: transparent;
  transition: 0.2s ease;
}

/* Hover and active classes .... */
.logoutBtn button:hover {
  cursor: pointer;
}

.navItemChild_cover:hover {
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px); /* For Safari support */
  /* border: 0.1rem solid rgba(251, 251, 251, 0.15); */
}
.navItemChild_cover:hover ~ .btn_ball {
  background-color: rgba(251, 251, 251, 0.75);
}

.navItemChild_cover:active ~ .btn_ball {
  box-shadow: rgba(255, 191, 0) 0px 5px 15px;
  background-color: rgba(251, 251, 251);
}
